<a href="https://colab.research.google.com/github/Raytallo/Algoritmo-ESA.2024.1/blob/main/07_repeticao_com_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
contador = 0
for x in ["spam", "eggs", "bacon"]:
  contador += 1
  print(f" {contador}: {x}")

 1: spam
 2: eggs
 3: bacon

In [3]:
contador = 0
for x in ["spam", "eggs", "bacon"]:
  print(f" {contador}: {x}")
  contador += 1

 0: spam
 1: eggs
 2: bacon

In [4]:
T = [(1,2), (3,4), (5,6)]
for (a,b) in T:
  print(a, "e", b)

1 e 2
3 e 4
5 e 6

In [6]:
#Dicionário em python
D = {"a": 1, "b": 2, "c": 3}
for chave in D:
  print(chave, "=>", D[chave])

a => 1
b => 2
c => 3

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Uso do Range

In [8]:
for i in range(5):
  print(i, "Pythons")

0 Pythons
1 Pythons
2 Pythons
3 Pythons
4 Pythons

In [19]:
s = "Raytallo"
print("Tamanho da palavra:", len(s))
for i in range(len(s)):
  print(i, s [i], sep = "-", end= ' ')

Tamanho da palavra: 8
0-R 1-a 2-y 3-t 4-a 5-l 6-l 7-o

Usos do Zip

In [26]:
L1 = ["a", "b", "c", "d"]
L2 = [1, 2, 3, 4]
print(list(L1))
print(list(L2))
compactado = zip (L1, L2)
print(list(compactado))
print(type(compactado)) #qual o tipo de classe? R= Utilizar type
print(type(list(zip(L1, L2))))
for (x,y) in list(zip(L1,L2)):
  print(x, "-", y)

['a', 'b', 'c', 'd']
[1, 2, 3, 4]
[('a', 1), ('b', 2), ('c', 3), ('d', 4)]
<class 'zip'>
<class 'list'>
a - 1
b - 2
c - 3
d - 4

In [27]:
# zip crie um dicionário a partir de listas
chaves = ["a", "b", "c", "d"]
valores = [1,2,3,4]
D1 = dict(zip(chaves,valores))
print(D1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Enumerate

In [31]:
s = "raytallo"
print(enumerate(s))
print(list(enumerate(s)))
for (offset, valor) in enumerate(s):
  print(offset,valor)

<enumerate object at 0x783465db0d00>
[(0, 'r'), (1, 'a'), (2, 'y'), (3, 't'), (4, 'a'), (5, 'l'), (6, 'l'), (7, 'o')]
0 r
1 a
2 y
3 t
4 a
5 l
6 l
7 o